<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THIS IS THE ADMINISTRATION SCREEN</h1>
    <div id="searchFilter">
        {{ getCurrentUser()}}
        <button @click='signout'>Sign out</button>
        <!-- search -->
        Search <input v-model='term'><br><br>

        <!-- filter -->
        <select multiple v-model='userLocations'>
            <option v-for='location in locations'>
                {{location}}
            </option>
        </select>
        <button v-on:click='reset'>reset</button><br>

        <!-- results -->
        <div v-for='(course, index) in results' class='course'>
            <span v-model: index> {{ index }} </span>
            <ul>
                <li v-for='(value, key) in course'>
                    {{key}}: {{value}}
                </li>
            </ul>
        <input type="button" id="updateItem" value="Update" v-on:click="updateItem(index)" />
        </div>

        <div class= "course" id="newCourse">
            <h3> Add new Item </h3>
            <input type="text" placeholder="Topic"  v-model='topic'  /><br />
            <input type="text" placeholder="location"  v-model='location'  /><br />
            <input type="text" placeholder="price"  v-model='price'  /><br />
            <input type="text" v-model='current' disabled/><br />
            <input type="button" value='Add New' v-on:click='addCourse()' />
        </div>

        <div class= "course" id="newCourse">
            <h3> Update Existing Item </h3>
            <input type="text" placeholder="Topic" id="updTop"  v-bind="updTop" /><br />
            <input type="text" placeholder="location" id="updLoc"  v-bind="updLoc" /><br />
            <input type="text" placeholder="price" id="updPrc"  v-bind="updPrc" /><br />
            <input type="text" v-model='current' disabled/><br />
            <input type="button" value='Update' v-on:click='placeUpdate(index)' />
        </div>
    </div>

</body>
</html>