<html>
<head>
    <title> Signup Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity= "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 
    
    
    <link rel="stylesheet" type="text/css" src="./static/login.css">
    <link rel="stylesheet" src="./static/style.css">
    <link rel="stylesheet" src="./static/style2.css">

    -->
</head>
<body>
<h1>THIS IS THE COURSES SCREEN</h1>
    <div id="vueapp">

        <input v-model="searchQuery" class="input" type="text" placeholder="Text input">

        <select multiple>
            <option v-for='course in resultQuery'>
                {{ course.topic }}
            </option>
        </select> 

            <form action="#" method="post" class="demoForm" id="demoForm">
            
                <textarea name="comment" form="usrform">Enter text here...</textarea>
                <div id="rating" >
                    <h2>Rate this course</h2>
                    <input type="radio" id="rate1" name="rate" value="1" >1</input>
                    <input type="radio" id="rate2" name="rate" value="2" >2</input>
                    <input type="radio" id="rate3" name="rate" value="3" >3</input>
                    <input type="radio" id="rate4" name="rate" value="4" >4</input>
                    <input type="radio" id="rate5" name="rate" value="5" >5</input>

                    <input type="button" value="input" v-on:click="saveRating(index)" />

                </div>
            </form>
    </div>
</body>
<script type="text/javascript">
var searchQuery = null;

    var courses;
     
    var app = new Vue({
        el: '#vueapp',
        data:
            {
                message: 'hello Vue',
                courses,
                searchQuery,
            },
        created() {
                fetch('/allcourses').then((response) =>{
                    return  response.json().then((courses) =>{
                        this.courses = (courses);
                    })
                })
            },
            computed: {
        resultQuery(){
            
            if(this.searchQuery){
            return this.courses.filter((item)=>{
                console.log(item);
                return this.searchQuery.toLowerCase().split(' ').every(v => item.topic.toLowerCase().includes(v))
            })
            }else if(this.searchQuery == null){
                return this.courses;
            }

            
            }
                }
    });
    
</script>
</html> 