<html>
<head>
    <title> Signup Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    
    <!-- 
    
    
    <link rel="stylesheet" type="text/css" src="./static/login.css">
    <link rel="stylesheet" src="./static/style.css">
    <link rel="stylesheet" src="./static/style2.css">

    -->
</head>
<body style="padding: 5em;margin:5em;">
<h1>THIS IS THE COURSES SCREEN</h1>
    <div id="vueapp">   

        Search : <input v-model="searchQuery" class="input" type="text" placeholder="Enter topic name">
        <br>
        <hr>
        List of topics: <br>

        <select multiple>
            <option v-for='course in resultQuery'>
                {{ course.topic }}
            </option>
        </select> 


        <li v-for="course in courses">
{{course.topic}}

{{course.img}}
        <img src=course.img width="200px" />     

</li>


        <br>
        <hr>
        <form action="/postcomments" method="post">
             <select name="topic" placeholder="Select Topic">       
               <option value="">Select your Topic</option>
                <option v-for="course in courses" v-bind:value="course.topic">
                    {{course.topic }}
                  </option>
            </select>
            <input type="text" placeholder="Enter your comments" name="comment" />
            <div id="rating" >
                <h2>Rate this course</h2>
                <input type="radio" id="rate1" name="rating" value="1" >1</input>
                <input type="radio" id="rate2" name="rating" value="2" >2</input>
                <input type="radio" id="rate3" name="rating" value="3" >3</input>
                <input type="radio" id="rate4" name="rating" value="4" >4</input>
                <input type="radio" id="rate5" name="rating" value="5" >5</input>

                <input type="submit" value="Save rating" v-on:click="saveRating(index)" />

            </div>
        </form>

        Some of our comments : <br>
<ul>
        <li v-for="comment in comments">
            <h3 style="color:blueviolet;"> {{ comment.topic }}</h3>
            <h4> {{ comment.comment }}</h4>
           <h3> Rating : {{ comment.rating }}</h3>
               <br>
          </li>

</ul>




    </div>
</body>
<script type="text/javascript">
var searchQuery = null;

    var courses, comments;
     
    var app = new Vue({
        el: '#vueapp',
        data:
            {
                message: 'hello Vue',
                courses,
                searchQuery,
                comments
            },
        created() {
                fetch('/allcourses').then((response) =>{
                    return  response.json().then((courses) =>{
                        this.courses = (courses);
                    })
                }),
                fetch('/allcomments').then((response) =>{
                    return  response.json().then((comments) =>{
                        this.comments = (comments.reverse());
                    })
                })
            },
            computed: {
        resultQuery(){
            
            if(this.searchQuery){
            return this.courses.filter((item)=>{
                console.log(item);
                return this.searchQuery.toLowerCase().split(' ').every(v => item.topic.toLowerCase().includes(v))
            })
            }else if(this.searchQuery == null){
                return this.courses;
            }

            
            }
                }
    });
    
</script>
</html> 