<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    
    <script src="../app.js"></script>
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="stylesheet" type="text/css" href="./public/static/login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body class="container">
    <img src="../icons/logo.png">
    <div class="fadeInDown">
        <h1>THIS IS THE ADMINISTRATION SCREEN</h1>
        <div id="searchFilter">
            <!-- search -->
            Search : <label>
            <input v-model="searchQuery" class="input" type="text" placeholder="Enter menuType name">
        </label>
            <select name="menuType" v-model="selectedCourse" placeholder="Select Topic">
                <option value="">Select your Topic</option>
                <option v-for="menu in menuList" v-bind:value="menu.menuType">
                    {{menu.menuType }}
                </option>
            </select>

            <form action="/add" method="POST">
                <div class= "course" id="newCourse">
                    <h3> Add new Item </h3>
                    <label>
                        <input type="text" placeholder="Menu Type"  name='menuType' />
                    </label><br />
                    <label>
                        <input type="text" placeholder="menuName"  name='menuName'  />
                    </label><br />
                    <label>
                        <input type="text" placeholder="price"  name='price'  />
                    </label><br />
                    <input type="submit" value='Add New' />
                </div>
            </form>
</body>
<script>
    var selectedCourse,menuList,searchQuery;
    var app = new Vue({
    el: '#searchFilter',
    data:
        {
            message: 'hello Vue',
            selectedCourse,
            menuList,searchQuery
        },
        
    created() {
            fetch('/allmenuList').then((response) =>{
                return  response.json().then((menuList) =>{
                    this.menuList = (menuList);
                })
            });
        }
    });            
</script>
</html>