<html lang="en">
<head>
    <script src="./app.js"></script>
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity= "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" href="./public/static/style.css">
    <link rel="stylesheet" href="./public/static/style2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
    
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../images/logo.png" id="icon" alt="User Icon" />
            </div>
    <script src="/sw.js"></script>
            <!-- Login Form -->
    
            <form method="POST" action="/logindecision">
                <span>
                    <label>
                        <input name='email' type='email' class="fadeIn second" placeholder="e-mail">
                    </label>
                    <label>
                        <input name='password' type='password' class="fadeIn third" placeholder="password">
                    </label>
                    <br>
                    <input type="submit" name="logintype" id="" value="login">
                    <br><br><br>

                    <p>Do not have an account?<a href="/register">Register</a></p>
                </span>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
    
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>